
.contentPartenaires {
  background-color: rgb(255, 255, 255);
  height: 100%;
  min-height: 250px;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 8px 40px rgba(#000000fa, 0.2);
}

.contentContactSection {
  background-color: #eca80e;
  height: 100%;
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  
}
.dotPartenaires {
  width: 145px;
  height: 145px;
  
  display: inline-block;
  margin-right: 1px;
  text-align: center;
}

.imgPartenaires {
  height: 100%;
}
.imgPartenairesMobile {
  height: 32Vmin;
}
.imgPartenairesStart {
  height: 28Vmin;
  margin-top: 20px;
}

///@extend

