.contentSectionGloires {
  background-color: rgb(255, 255, 255);
  height: 100%;
  min-height: 50px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 8px 40px rgba(#000000fa, 0.2);
}
.contentGloires {
  background-color: rgb(255, 255, 255);
  height: 100%;
  min-height: 500px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 8px 40px rgba(#000000fa, 0.2);
}
.titre {
  color: #021930;
  font-family: Verdana, Arial, Tahoma, Serif;
  font-size: 20px;
  font-weight: bold;
}
.imgSection {
  position: center;
  height: 5vmin;
}
.imgGloire {
  position: center;
  height: 30vmin
}
.sectionProfile {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1px;
  border: solid #face0c;
  color: rgb(247, 238, 187);
}
.gloireName{
  font-size: 13px;
  font-family: Verdana, Arial, Tahoma, Serif;
  font-weight: bold;
  color: #face0c;
}

.deroulantGloires {
 
  width: 100%; 
  height: 300px; 
  overflow: auto; 
  text-align:justify; 
}
.cardBorder {
  border-radius: 25px;
  border: 2px solid #face0c;
}